<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <mappers>
    <!--
    <mapper resource="mybatis/base/mapper-table_name.xml" />
    <mapper resource="mybatis/extension/mapper-table_name.xml" />
    -->
    <mapper resource="mybatis/base/mapper-ot_user.xml" />
  </mappers>
</configuration>
